<!--@subject Il Tuo account è attivo, {{var customer.getName()}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}">
                            <img
                            {{if logo_width}}
                            width="{{var logo_width}}"
                            {{else}}
                            width="165"
                            {{/if}}

                            {{if logo_height}}
                            height="{{var logo_height}}"
                            {{else}}
                            height="48"
                            {{/if}}

                            src="{{if logo_url}}{{var logo_url}}{{else}}{{skin url="images/logo_email.gif" _area='frontend'}}{{/if}}"
                            alt="{{var logo_alt}}"
                            border="0"/>
                            </a>
                        </td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
								<strong>Ciao {{var customer.name}}</strong>,<br/>
								il Tuo account &egrave; stato attivato.<br/>
								Per accedere direttamente clicca <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">QUI</a> oppure
								<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mio Account</a> dalla Home Page del sito inserendo email e password.
                            </p>

                            <p>Per qualsiasi informazione o chiarimento non esitare a scriverci <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o chiamaci allo {{config path='general/store_information/phone'}}.</p>
                            <p>Grazie, a presto!</p>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>