<?xml version="1.0"?>
<config>
	<modules>
		<Netzarbeiter_CustomerActivation>
			<version>0.2.4</version>
			<depends>
				<Mage_Customer />
			</depends>
		</Netzarbeiter_CustomerActivation>
	</modules>
	<global>
		<models>
			<customeractivation>
				<class>Netzarbeiter_CustomerActivation_Model</class>
			</customeractivation>
		</models>
		<helpers>
			<customeractivation>
				<class>Netzarbeiter_CustomerActivation_Helper</class>
			</customeractivation>
		</helpers>
		<blocks>
			<adminhtml>
				<rewrite>
					<!-- overwrite Mage_Adminhtml_Block_Customer_Grid to add activation to grid -->
					<customer_grid>Netzarbeiter_CustomerActivation_Block_Adminhtml_Customer_Grid</customer_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		<resources>
			<customeractivation_setup>
				<setup>
					<module>Netzarbeiter_CustomerActivation</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection><use>core_setup</use></connection>
			</customeractivation_setup>

			<customeractivation_write>
				<connection><use>core_write</use></connection>
			</customeractivation_write>
			<customeractivation_read>
				<connection><use>core_read</use></connection>
			</customeractivation_read>
		</resources>
		<template>
			<email>
				<customer_customeractivation_registration_admin_template translate="label" module="customeractivation">
					<label>Customer Registration Admin Notification</label>
					<file>netzarbeiter/customeractivation/customer_registration_admin.html</file>
					<type>html</type>
				</customer_customeractivation_registration_admin_template>
				<customer_customeractivation_activation_template translate="label" module="customeractivation">
					<label>Customer Activation Notification</label>
					<file>netzarbeiter/customeractivation/customer_activation.html</file>
					<type>html</type>
				</customer_customeractivation_activation_template>
			</email>
		</template>
		<events>
			<customer_save_after>
				<observers>
					<customeractivation>
						<type>singleton</type>
						<class>customeractivation/observer</class>
						<method>customerSaveAfter</method>
					</customeractivation>
				</observers>
			</customer_save_after>
		</events>
	</global>

	<admin>
		<routers>
			<customeractivation>
				<use>admin</use>
				<args>
					<module>Netzarbeiter_CustomerActivation</module>
					<frontName>customeractivation</frontName>
				</args>
			</customeractivation>
		</routers>
	</admin>

	<frontend>
		<events>
			<customer_login>
				<observers>
					<customeractivation>
						<type>singleton</type>
						<class>customeractivation/observer</class>
						<method>customerActivationLoginEvent</method>
					</customeractivation>
				</observers>
			</customer_login>
			<customer_save_before>
				<observers>
					<customeractivation>
						<type>singleton</type>
						<class>customeractivation/observer</class>
						<method>customerSaveBefore</method>
					</customeractivation>
				</observers>
			</customer_save_before>
		</events>
        <translate>
            <modules>
                <Netzarbeiter_CustomerActivation>
                     <files>
                          <default>Netzarbeiter_CustomerActivation.csv</default>
                     </files>
                </Netzarbeiter_CustomerActivation>
            </modules>
        </translate>
	</frontend>

	<default>
		<customer>
			<customeractivation>
				<disable_ext>0</disable_ext>
				<always_active_in_admin>1</always_active_in_admin>
				<alert_admin>1</alert_admin>
				<admin_email></admin_email>
				<registration_admin_template>customer_customeractivation_registration_admin_template</registration_admin_template>
				<alert_customer>0</alert_customer>
				<activation_template>customer_customeractivation_activation_template</activation_template>
			</customeractivation>
		</customer>
	</default>

	<adminhtml>
        <translate>
            <modules>
                <Netzarbeiter_CustomerActivation>
                     <files>
                          <default>Netzarbeiter_CustomerActivation.csv</default>
                     </files>
                </Netzarbeiter_CustomerActivation>
            </modules>
        </translate>
	</adminhtml>

</config>
