<!--@subject Ihr Konto wurde aktiviert, {{var customer.getName()}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}">
                            <img
                            {{if logo_width}}
                            width="{{var logo_width}}"
                            {{else}}
                            width="165"
                            {{/if}}

                            {{if logo_height}}
                            height="{{var logo_height}}"
                            {{else}}
                            height="48"
                            {{/if}}

                            src="{{if logo_url}}{{var logo_url}}{{else}}{{skin url="images/logo_email.gif" _area='frontend'}}{{/if}}"
                            alt="{{var logo_alt}}"
                            border="0"/>
                            </a>
                        </td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Hallo {{var customer.name}}</strong>,<br/>
                            ihr Konto wurde aktiviert. Um sich bei Ihrem nächsten Besuch in unserem Shop einzuloggen,
							klicken Sie einfach auf <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> oder
							<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mein Kundenkonto</a> im oberen Bereich jeder Seite,
							und geben Sie Ihre E-Mail-Adresse und Passwort ein.</p>

                            <p>Sollten Sie Fragen zu Ihrem Kundenkonto oder andere Anfragen haben, senden Sie uns eine E-Mail an <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> oder rufen Sie uns von Montag bis Freitag von 8.00 bis 17.00 Uhr unter {{config path='general/store_information/phone'}} an.</p>

							<p>Vielen Dank!</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>